<div class="header">
    <div class="nav">
        <a ui-sref="content.homepage.total" ui-sref-active="nav-active" class="a-text" ng-show='showTab == 0'>首页</a>
        <a ui-sref="content.config" ui-sref-active="nav-active" class="a-text" ng-show="showTab == 3">配置</a>
        <a ui-sref="content.statistic" ui-sref-active="nav-active" class="a-text" ng-show="showTab == 3">统计</a>
        <a ui-sref="content.management.line" ui-sref-active="nav-active" class="a-text" ng-show="showTab == 3">管理</a>
    </div>
</div>
<div ui-view class="sys-func"></div>
<script type="text/ng-template" id="deleteInfo.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title" style="text-align: left">系统提示</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <b>是否确定删除?</b>
    </div>
    <div class="modal-footer">
        <button class="btn bg-red" type="button" ng-click="deleteItem()">确定</button>
        <button class="btn" type="button" ng-click="cancelDelete()">取消</button>
    </div>
</script>