<div class="toolbar clearfix row">

    <div class="col-md-2 date-text">
        <span>开始时间:</span>
    </div>
    <div class="col-md-3 mg-top-15">
        <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="startTime"
                   ng-change="dateChange()"
                   is-open="popup1.opened" ng-required="true" close-text="关闭" clear-text="清除" current-text="今天"
                   readonly="readonly"/>
    <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="open1()"><i
            class="glyphicon glyphicon-calendar"></i></button>
    </span>
        </p>
    </div>
    <div class="col-md-2 date-text">
        结束时间:
    </div>
    <div class="col-md-3 mg-top-15">
        <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="endTime"
                   ng-change="dateChange()"
                   is-open="popup2.opened" ng-required="true" close-text="关闭" clear-text="清除" current-text="今天"
                   readonly="readonly"/>
    <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="open2()"><i
            class="glyphicon glyphicon-calendar"></i></button>
    </span>
        </p>
    </div>
    <div class="mg-top-15 col-md-2">
        <button type="button" class="btn login-btn bg-red" ng-click="search()">查询</button>
    </div>

</div>
<p class="mg-top-30 result-info">
    <span ng-show="showInfo"> {{result}} </span>
<div ng-show="!showInfo">
    <span class="pd-right-30">{{name}}</span> <a href={{url}} class="btn login-btn bg-red">点击下载</a>
</div>
</p>

</div>
<div ui-view></div>