<div class="login" ng-controller="LoginCtrl">
    <h2>凯迪拉克高库龄车辆交易平台</h2>
    <input style="display:none"><!-- for disable autocomplete on chrome -->
    <input ng-model="userInfo.username" type="text" class="form-control login-input" placeholder="请输入手机号/会员号/邮箱" autocomplete="off"/>
    <input ng-model="userInfo.password" type="password" class="form-control login-input" placeholder="请输入密码" autocomplete="off"/>
    <button type="button" class="btn login-btn" ng-click="login()">登录</button>
    <div class="width-300">
        <a href="#"><span class="login-text display-left">立即注册</span></a>
        <a href="#"><span class="login-text display-right">忘记密码</span></a>
    </div>
</div>